/* Global variables */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  /* 60% {
        transform: rotate(120deg);
    } */
  /* 80% {
        transform: translateX(20px);
    } */
  100% {
    opacity: 1; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-home {
  background-color: #000;
  color: #fff;
  height: 100vh; }

.heading-primary {
  position: relative;
  height: 50rem;
  font-size: 8rem; }
  .heading-primary__1 {
    position: absolute;
    top: 15%;
    left: 10%;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-in; }
  .heading-primary__2 {
    position: absolute;
    top: 45%;
    left: 25%;
    animation: fadeIn 4s ease-in; }
  .heading-primary__3 {
    position: absolute;
    top: 75%;
    left: 57%;
    animation: fadeIn 5s ease-in; }
