.heading-primary {
    position: relative;
    height: 100vh;
    font-size: 8rem;
    


    &__1 {
        position: absolute;
        top: 15%;
        left: 10%;
        animation-name: fadeIn;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        
        
    }

    &__2 {
        position: absolute;
        top: 45%;
        left: 25%;
        animation: fadeIn2 3s ease-in;
        
    }

    &__3 {
        position: absolute;
        top: 75%;
        left: 55%;
        animation: fadeIn3 3s ease-in;
        
    }
}