.heading-primary {
  position: relative;
  height: 100vh;
  font-size: 8rem;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 2rem;

  &__1 {
    position: absolute;
    top: 15%;
    left: 10%;
    animation: fadeIn 2s, letterSpacingShrink 2s ease-in-out;
  }

  &__2 {
    position: absolute;
    top: 45%;
    left: 25%;
    animation: fadeIn2 2s, letterSpacingShrink 2s ease-in-out;
  }

  &__3 {
    position: absolute;
    top: 75%;
    left: 45%;
    animation: fadeIn 2s, letterSpacingShrink 2s ease-in-out;
  }
}
