.heading-primary {
  position: relative;
  height: 100vh;
  font-size: 8rem;
  font-family: "Raleway";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2rem;

  &__1 {
    position: absolute;
    top: 15%;
    right: 2%;
    animation: fadeIn 2s, letterSpacingShrink 2s ease-in-out;
  }

  &__2 {
    position: absolute;
    top: 45%;
    right: 2%;
    animation: fadeIn2 2s, letterSpacingShrink 2s ease-in-out;
  }

  &__3 {
    position: absolute;
    top: 75%;
    right: 2%;
    animation: fadeIn 2s, letterSpacingShrink 2s ease-in-out;
  }
}

.vertical-line {
  border-right: blue;
  border-width: 2px;
}