@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #212124;
  color: #FFFF00;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  }

  h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  opacity: 80%;
  transition: 0.5s;
}

.navbar li a{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 10px 20px;
  margin: 0 5px;
  font-weight: 100;
  transition: border-color 0.5s;
}

.navbar a:hover {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206,89,55,0);}


/* #navbar a.current {
  border-color: #ffbc00;
} */

.navbar li a:hover {
  border-bottom: #ffff00 2px solid;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206,89,55,0);}
.navbar ul {
  display: flex;
  list-style: none;
}
.logo {
  color: #FFFF00;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

/* links */
a {
  text-decoration: none;
  color: #ffff00;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

/* Header */

.hero {
  background: url('./img/atx_skyline.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  /* background: url('') no-repeat center center/cover; */
  height: 30vh;
}

/* Icons */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #ffff00;
  color: black;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* Footer */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover{
  color: #28a745;
}


.footer .social > *  {
  margin-right: 30px;
}