.right-menu {
    
    display: flex;
    flex-direction: column;
    position: relative;

    &__item {
        
        height: 15rem;

        &--1 {
            
            
            
            
        }

        &--2 {
            position: absolute;
            top: 0;
            
        }

        &--3 {
            position: absolute;
            top: 0;
            
        }

        &--4 {
            position: absolute;
            top: 0;
            
        }
    }

}