.right-menu {
    
    display: flex;
    flex-direction: column;
    position: relative;

    &__item {
        
        height: 40rem;
        padding-top: 20%;
        

        &--1 {
        }

        &--2 {
            position: absolute;
            top: 0;
            animation: moveDown2 3s;
            animation-fill-mode: forwards;
        }

        &--3 {
            position: absolute;
            top: 0;
            animation: moveDown3 3s;
            animation-fill-mode: forwards;
            
        }

        &--4 {
            position: absolute;
            top: 0;
            animation: moveDown4 3s;
            animation-fill-mode: forwards;
            
        }
    }

}