/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }

    /* 60% {
        transform: rotate(120deg);
    } */

    /* 80% {
        transform: translateX(20px);
    } */

    100% {
        opacity: 1;
        
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
        
    }

    75% {
        opacity: .3;
    } 

    /* 80% {
        transform: translateX(20px);
    } */

    100% {
        opacity: 1;
        
    }
}