.section-developers {
    background-color: $color-black;
    color: $color-white;
    height: 100vh;
    padding: 5rem;
    font-family: 'Raleway', sans-serif;
}

.about-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.about-content {

}